<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <script src="/js/logic.js"></script>
    <link rel="stylesheet" href="/css/estilo-visualizar-egreso.css">
    <!-- CSS only -->
    <title>Proveedores</title>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="space-around-horizontal navbar-nav ml-auto">
            <a class="navbar-brand" onclick="location.href='/home'">Home</a>
            <button type="button" class="btn btn-dark align-content-center"
                    onclick="location.href='/crearOperacionEgreso'">Cargar Operacion de Egreso
            </button>
            <button type="button" class="btn btn-dark align-content-center" onclick="location.href='ingreso'">
                Cargar Operacion de Ingreso
            </button>

            <div class="dropdown align-content-md-around">
                <button class="btn btn-dark align-content-center dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown"
                        aria-expanded="true">
                    Asociar
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" onclick="location.href='/asocIngresoEgreso'">Ingreso Egreso</a></li>
                    <li><a class="dropdown-item" onclick="location.href='/asocCategoriaEgreso'">Categoria Egreso</a>
                    </li>
                    <li><a class="dropdown-item" onclick="location.href='/asocCategoriaPresupuesto'">Categoria
                        Presupuesto</a></li>
                </ul>
            </div>

            <div class="dropdown align-content-center">
                <button class="btn btn-dark align-content-center dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown"
                        aria-expanded="true">
                    Visualizar
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" onclick="location.href='/ver-ingresos'">Ver Ingresos</a></li>
                    <li><a class="dropdown-item" onclick="location.href='/ver-egresos'">Ver Egresos</a></li>
                </ul>
            </div>
        </div>

        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-dark" onclick="location.href='ver-bandeja'">
                Bandeja de Entrada
            </button>
            <form action="/logout" method="get" class="form">
                <button class="btn btn-dark" onclick="location.href='index-login.html'" type="submit">Salir</button>
            </form>
        </div>


    </div>
</nav>

<form action="/crearEgreso2" method="post" class="form">
    <div class="d-flex justify-content-center" style="padding-top: 64px;padding-bottom: 16px;">
        <div class="card text-dark bg-light-tp mb-3"
             style="min-height: 18rem; min-width: 36rem; max-width: 70%">
            <div class="card-header display-7 text-center">Seleccionar Presupuesto</div>
            <div class="card-body space-evenly-vert" style="margin-top: 32px">
                <div class="space-evenly-vert align-content-start" style="margin-left: 16px">
                    {{#each presupuestos}}
                        <div class="d-flex" style="align-content: start;width: -webkit-fill-available">
                            <label>
                                <input type="checkbox" name="presupuesto" value='{{id}}'>
                                {{cantidad}} item/s de monto total {{total}} de {{proveedor.nombreApellidoRazon}}
                            </label>
                        </div>
                    {{/each}}
                </div>
                <div class="d-flex justify-content-center m-4">
                    <button type="button" class="btn btn-dark" data-bs-toggle="modal"
                            data-bs-target="#presupuestoModal" onclick="resetCount()">
                        Agregar nuevo presupuesto
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-evenly padding-button-home">
        <button type="button" class="btn btn-dark rounded-pill" onclick="location.href='/CrearOperacionEgreso'">Volver
        </button>

        <button class="btn btn-dark rounded-pill" type="submit">Siguiente</button>
    </div>
</form>

<div class="d-flex justify-content-center padding-button-home">
    <button type="button" class="btn btn-lg btn-dark rounded-pill" onclick="location.href='/home'">Volver a Home
    </button>
</div>
<!-- Modal -->
<form action="/cachePresupuestos" method="post" class="form">
    <div class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true" id="presupuestoModal">
        <div class="modal-dialog" style="max-width: 70%">
            <div class="modal-content" style="min-width: fit-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Crear nuevo Presupuesto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body" id="presupuestoModalBody">
                    <div class="d-flex justify-content-between" style="margin-left: 10%;width: 70%;justify-content: space-between">
                        <p class="card-text">Proveedor: </p>
                        <select class="opcion-multiple" name="proveedor">
                            {{#each proveedores}}
                                <option value='{{id}}'>{{nombreApellidoRazon}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <p style="margin-left: 10%;width: 70%">Items del presupuesto: </p>

                    <div class="card" id="itemCard0" style="margin:8px;max-width: 80%;margin-left: 10%;">
                        <div class="card-body" id="itemCardBody">
                            <p class="card-title">Item</p>
                            <div class="d-flex justify-content-between">
                                <p class="card-text">Nombre:</p>
                                <label>
                                    <input type="text" name="itemName0" id="itemName" required="required">
                                </label>
                            </div>

                            <div class="d-flex justify-content-between">
                                <p class="card-text">Cantidad: </p>
                                <label>
                                    <input type="number" name="cantidadItem0" required="required">
                                </label>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p class="card-text">Monto del articulo:</p>
                                <label>
                                    <input type="number" name="valorItem0" required="required">
                                </label>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p class="card-text">Descripción:</p>
                                <label>
                                    <input type="text" name="descripcionItem0" required="required">
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-end">
                        <button class="btn btn-sm btn-dark" type="button" onclick="addItem2()" style="margin:8px">
                            Agregar Item
                        </button>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar
                    </button>
                    <input type="text" hidden="hidden" name="itemCount" id="itemCount">
                    <button class="btn btn-primary d-flex justify-content-center" onclick="setItemCount()"
                            type="submit">Agregar
                        Presupuesto
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    let itemsCount = 0;

    function getCount() {
        return itemsCount;
    }

    function setItemCount() {
        document.getElementById("itemCount").setAttribute('value', getCount());
    }

    function resetCount() {
        itemsCount = 0;
    }

    function addItem2() {
        let itemCard = document.getElementById('itemCard' + itemsCount);
        console.log('itemCard' + itemsCount);
        let itemCard2 = itemCard.cloneNode(true);
        //set new ID
        itemsCount += 1;
        itemCard2.setAttribute('id', itemCard2.attributes.item(1).value.slice(0, -1) + itemsCount);

        //card --> card-body --> []dflex con los inputs (solo en pos impar)
        let dflexs = itemCard2.childNodes.item(1).childNodes;
        for (let i = 3; i < dflexs.length; i++) {
            if (i % 2 === 0) {
                continue;
            }
            //dflex getea un label que getea un input
            let input = dflexs.item(i).lastElementChild.lastElementChild;

            input.setAttribute('type', 'text');
            input.setAttribute('value', ' ');
            input.setAttribute('name', input.name.slice(0, -1) + itemsCount);

        }

        itemCard.after(itemCard2);
    }


</script>


</body>
</html>