<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/27517fada0.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/js/logic.js"></script>
    <link rel="icon" href="/img/logosolo.png">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <title>Creacion Operacion Egreso</title>
</head>
<!-- Home -->
    <!-- Bootstrap -->
<img src="/img/Login.jpg" alt="fondo" class="fondo">

<button type="button" onclick="location.href='home';" style="width: 100px; height: 50px; position: absolute; left: 5%; top: 5%; transform: translate(-50%, -50%);">Volver a Home</button>

<div style="background-color:#99b0e8;
			border:1px solid black;
			width: 600px;
  			height: 800px;
  			position: absolute;
  			left: 50%;
  			top: 80%;
  			transform: translate(-50%, -50%);">

	<h1> &nbsp; Creemos una operacion de egreso:</h1>
		<div style="background-color:#b0c1eb;
			border:1px solid black;
			width: 540px;
  			height: 700px;
  			position: absolute;
  			left: 50%;
  			top: 53%;
  			transform: translate(-50%, -50%);">
			<br>
			<form action="/crearOperacionEgreso" method="post" class="form-">
				&nbsp;&nbsp;&nbsp;Proveedor:
				<select style=" width: 350; position: absolute; left:160px" name="proveedores">
                    {{#each proveedores}}
                      <option value='{{id}}'>{{nombreApellidoRazon}}</option>
                    {{/each}}
                </select>
				<br><br>
		  		&nbsp;&nbsp;&nbsp;Fecha de operacion: <input type="datetime-local" id="fechaEgreso" name="fechaEgreso" style=" width: 350; position: absolute; left:160px" name="fecha"><br>
		  		<br>
		  		&nbsp;&nbsp;&nbsp;Medio de pago: <select style=" width: 350; position: absolute; left:160px" name="medioDePago">
					  <option value="Credito">Credito</option>
					  <option value="Debito">Debito</option>
					  <option value="Efectivo">Efectivo</option>
					  <option value="Cheque">Cheque</option>
					</select>
				<br><br>
                &nbsp;&nbsp;&nbsp;Tipo Documento: <select style=" width: 350; position: absolute; left:160px" name="tipoDocumento">
                      <option value="Credito">DNI</option>
                      <option value="Debito">Pasaporte</option>
                      <option value="Efectivo">???</option>
                    </select>
				<br><br>
				&nbsp;&nbsp;&nbsp;Comprobante: <select style=" width: 350; position: absolute; left:160px" name="Comprobante">
					  {{#each comprobantes}}
                        <option value='{{id}}'>{{numeroComprobante}}</option>
                      {{/each}}
					</select>
				<br><br>
		  		&nbsp;&nbsp;&nbsp;Monto total: <input type="number" name="montTotal" style=" width: 350; position: absolute; left:160px" name="montoTotal"><br><br>
		  		&nbsp;&nbsp;&nbsp;Descripcion: <input type="text" name="Descr" style=" width: 350; position: absolute; left:160px" name="descripcion"><br><br>
		  		&nbsp;&nbsp;&nbsp;entidades.Items: <select style=" width: 350; position: absolute; left:160px" name="items">
					  {{#each items}}
                          <option value='{{id}}'>{{nombre}}</option>
                      {{/each}}
					</select> <!-- falta seleccion multiple -->
				<br><br>
				&nbsp;&nbsp;&nbsp;Presupuesto: <select style=" width: 350; position: absolute; left:160px" name="presupuesto">
                        {{#each presupuestos}}
                          <option value='{{id}}'>{{total}}</option>
                        {{/each}}
					</select> <!-- falta seleccion multiple -->
				<br><br>
				&nbsp;&nbsp;&nbsp;Articulo: <select style=" width: 350; position: absolute; left:160px">
					  {{#each articulos}}
                        <option value='{{id}}'>{{nombre}}</option>
                      {{/each}}
					</select>
				<br><br>
				&nbsp;&nbsp;&nbsp;Cant min presupuestos: <input type="number" name="cantMinPresup" style=" width: 350; position: absolute; left:160px" name="cantMinPresup"><br><br>
				&nbsp;&nbsp;&nbsp;OperacionIngreso: <select style=" width: 350; position: absolute; left:160px" name="operacionIngreso">
					   {{#each ingresos}}
                         <option value='{{id}}'>{{descripcion}}</option>
                       {{/each}}
					</select>
				<br><br>
				&nbsp;&nbsp;&nbsp;Criterio: <select style=" width: 350; position: absolute; left:160px">
					  <option value="Criterio1">Criterio1</option>
					  <option value="Criterio2">Criterio2</option>
					  <option value="Criterio3">Criterio3</option>
					  <option value="Criterio4">Criterio4</option>
					</select>
				<br><br>
				&nbsp;&nbsp;&nbsp;Categoria/s: <select style=" width: 350; position: absolute; left:160px">
					  <option value="Categoria1">Categoria1</option>
					  <option value="Categoria2">Categoria2</option>
					  <option value="Categoria3">Categoria3</option>
					  <option value="Categoria4">Categoria4</option>
					</select> <!-- falta seleccion multiple -->
				<br><br>
				&nbsp;&nbsp;&nbsp;Organizacion: <select style=" width: 350; position: absolute; left:160px">
					  <option value="Organizacion1">Organizacion1</option>
					  <option value="Organizacion2">Organizacion2</option>
					  <option value="Organizacion3">Organizacion3</option>
					  <option value="Organizacion4">Organizacion4</option>
					</select>
				<br><br>
		  		<button type="button" style="width: 200px; height: 50px; position: relative; left:170px">Guardar </button>
		  		</form>
	  	</div>
</div>
</html>