<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <script src="/js/logic.js"></script>
    <link rel="stylesheet" href="/css/estilo-visualizar-egreso.css">
    <!-- CSS only -->
    <title>Ver Ingresos</title>
</head>
<body>
<div class="d-flex justify-content-center">
    <h1 class="text-center display-3">Visualizar Ingresos </h1>
</div>

<div class="general-egresos rounded">
    <div class="text-center space-evenly-vert m-4">

        {{#each ingresos}}
            <div class="space-evenly-vert padding-body-egreso">

                <div class="align-content-start">
                    <h3>Ingreso {{inc @index}} </h3>
                </div>
                <div class="container-body-egreso justify-content-start">
                    <p>Nro: {{numeroOperacion}}</p>
                    <p>Descripcion:{{descripcion}}</p>
                    <p>Fecha: {{fechaOperacion}}</p>
                    <p>Monto Total: {{montoTotal}}</p>
                </div>
            </div>

        {{else}}
            <p> Sin ingresos.</p>

        {{/each}}

    </div>

</div>
<div class="d-flex justify-content-center padding-button-home">
    <button class="btn btn-lg btn-dark rounded-pill" onclick="location.href='/home'">Volver a Home</button>
</div>
</body>
</html>